/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.env.local
.phpunit.result.cache
Homestead.json
/.next
# ignore Next.js build output and any static export output
/.out
# some tools write to `out/` (no dot) — ignore that too
/out
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
composer.lock